.mnWrap{
  padding: 120px 0;
  main{
    .genderAge{
    .gender{
      h4{}
      .form{
        input{
          display: none;
        }
        input+label{
          &::before{
            display: block;
            content: url('../../assets/images/sub1/circle-regular.svg');
            width: 30px;
            height: 30px;
          }
          cursor: pointer;
        }
        input:checked+label{
          &::before{
            content: url('../../assets/images/sub1/circle-check-solid.svg');
          }
          cursor: pointer;
        }
      }
    }
    .age{}
    }
    .selectBox{
      display: flex;
      border: 1px solid #000;
      // width: calc(50% - 10px);
      align-items: center;
      width: 400px;
      &::before{
        display: block;
        content: url('../../assets/images/sub1/circle-chevron-down-solid\ \(1\).svg');
        width: 30px;
        height: 30px;

      }
      select{
        border: 0;
        width: calc(100% - 30px);
        height: 40px;
        appearance: none;
        background-color: transparent;
        position: relative;
        &:focus{
          border: 0;
        }
        option{}
      }
      &::after{
        display: block;
        content: url('../../assets/images/sub1/circle-regular.svg');
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
      }
    }
  }
}