.sub1Main{
  height: 80vh;
  background-image: url('../../assets/images/sub1/header02.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;

  main{
    color: #FFF;
    width: calc(100% - 500px);
    // border: 1px solid #FFF;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    bottom: 40px;
    // padding-bottom: 40px;
    header{
      hr{
        display: inline-block;
        width: 80px;
        height: 6px;
        border: 0;
        background-color: #ccc;
        margin: 0;
        margin-left: 120px;
        margin-top: 60px;
      }
      h2{
        margin-left: 120px;
        font-size: 36px;
        font-weight: 700;
        line-height: 74px;
      }
    }
    
    .genderAge{
      display: flex;
      margin-left: 120px;
      flex-wrap: wrap;
      padding-bottom: 100px;
    .gender{
      margin-top: 20px;
      margin-right: 40px;
      color: #FFF;
      h4{
        font-size: 16px;
        font-weight: 700;
        line-height: 40px;
      }
      .form{
        margin-top: 10px;
        display: flex;
        gap: 20px;
        color: #FFF;
        input{
          display: none;
        }
        input+label{
          color: #FFF;
          &::before{
            display: block;
            content: url('../../assets/images/sub1/circle-regular.svg');
            width: 30px;
            height: 30px;
            filter: invert(1);
          }
          cursor: pointer;
        }
        input:checked+label{
          text-align: center;
          &::before{
            content: url('../../assets/images/sub1/circle-check-solid.svg');
          }
          cursor: pointer;
        }
      }
    }
    .age{
      margin-top: 20px;
      margin-left: 550px;
      h4{
        font-size: 16px;
        font-weight: 700;
        line-height: 40px;
        margin-left: 20px;
      }
      .form{
        margin-top: 10px;
        display: flex;
        input{
          display: none;
        }
        input+label{
          display: block;
          text-align: center;
          position: relative;
          margin-left: 20px;
          &::before{
            display: block;
            content: url('../../assets/images/sub1/circle-regular.svg');
            width: 30px;
            height: 30px;
            filter: invert(1);
          }
          cursor: pointer;
        }
        input:checked+label{
          &::before{
            text-align: center;
            content: url('../../assets/images/sub1/circle-check-solid.svg');
            filter: invert(1);
          }
          cursor: pointer;
        }
      }
    }
    }
    .selectBoxContainer{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      gap: 20px;
      margin-bottom: 40px;
      .selectBox{
        display: flex;
        border: 1px solid #fff;
        margin-left: 120px;
        // margin-top: 80px;
        margin-top: 0;
        align-items: center;
        justify-content: flex-start;
        width: 400px;
        &.s1{
        }
        &.s2{
          margin-left: 300px;
        }
        &.s3{

        }
        &.s4{
          margin-left: 300px;
        }
        &::before{
          display: block;
          content: "";
          width: 30px;
          height: 30px;
          filter: invert(1);
        }
        .icon{
          width: 30px; // 아이콘의 너비
          height: 30px; // 아이콘의 높이
          background-size: contain; // 아이콘 크기 조정
          background-position: center;
          background-repeat: no-repeat;
          margin-right: 20px;
        }
        &.s1 .icon {
          background-image: url("../../assets/images/sub1/location-dot-solid.svg"); // 첫 번째 아이콘 경로
          filter: invert(1);
          // background-image: no-repeat;
        }
        &.s2 .icon {
          background-image: url("../../assets/images/sub1/calendar-regular.svg"); // 두 번째 아이콘 경로
          filter: invert(1);
          background-image: no-repeat;
        }
        &.s3 .icon {
          background-image: url("../../assets/images/sub1/user-plus-solid.svg"); // 세 번째 아이콘 경로
          filter: invert(1);
        }
        &.s4 .icon {
          background-image: url("../../assets/images/sub1/question-solid.svg"); // 네 번째 아이콘 경로
          filter: invert(1);
        }
        select{
          //display: flex;
          border: 0;
          width: calc(100% - 30px);
          height: 40px;
          appearance: none;
          background-color: transparent;
          position: relative;
          padding-right: 40px;
          color: #FFF;
          &:focus{
            border: 0;
          }
          option{
            color: #000;
          }
        }
        &::after{
          display: block;
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          right: 10px;
          top: 50%;
          filter: invert(1);
        }
      }
    }
  }
}