.traveldestination{
  section{
    max-width: 1440px;
    width: 90%;
    .main-content{
      display: flex;
      justify-content: space-between;
      .left-content{
        .image{
          width: 820px;
          height: 1080px;
          background-image: url('../../assets/images/sub4/pic41.jpg');
          background-size: cover;
          background-position: center;
        }
      }
      .right-content{
        width: 600px;
        height: 1080px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        .texts{
          margin-left: 40px;
          hr{
            margin-top: 200px;
            display: inline-block;
            width: 80px;
            height: 6px;
            border: 0;
            background-color: #ccc;
          }
          h2{
            font-size: 36px;
            line-height: 74px;
            font-weight: 700;
          }
          p{
            margin-top: 40px;
          }
          h4{
            margin-top: 200px;
            font-size: 16px;
            line-height: 40px;
            font-weight: 700;
          }
          h3{
            font-size: 24px;
            line-height: 40px;
            font-weight: 700;
            padding-bottom: 40px;
          }
          .btn{
            margin-top: 80px;
            button{
              width: 150px;
              height: 40px;
              font-size: 16px;
              line-height: 40px;
              font-weight: 700;
              border-radius: 30px;
              background-color: black;
              color: #fff;
            }
          }
        }
      }
    }
  }
}