.PurposeOfTrip{
  header{
    h4{
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
    }
    h3{}
    p{
      font-size: 14px;
      font-weight: 100;
      line-height: 20px;
    }
  }
  section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    align-items: center;
      article{
        width: calc(33.33% - 20px);
        height: 440px;
        display: flex;
        flex-wrap: nowrap;
        
      &.i1{
        background-image: url(../../assets/images/index/pic01.jpg);
        background-size: cover;
        background-position: center;
      }
      &.i2{
        background-image: url(../../assets/images/index/pic02.jpg);
        background-size: cover;
        background-position: center;
      }
      &.i3{
        background-image: url(../../assets/images/index/pic03.jpg);
        background-size: cover;
        background-position: center;
      }
      &.i4{
        background-image: url(../../assets/images/index/pic01.jpg);
        background-size: cover;
        background-position: center;
      }
      &.i5{
        background-image: url(../../assets/images/index/pic02.jpg);
        background-size: cover;
        background-position: center;
      }
      &.i6{
        background-image: url(../../assets/images/index/pic03.jpg);
        background-size: cover;
        background-position: center;
      }
    }
  }
}