.Welcome{
  padding: 0;
  header{
    display: flex;
    height: 830px;
    justify-content: space-between;
    margin: 0 auto;
    .textbox{
      text-align: left;
      width: calc(50% - 20px);
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
      margin-left: 20px;
      hr{
        margin-top: 120px;
        margin-left: 20px;
        display: inline-block;
        width: 80px;
        height: 6px;
        border: 0;
        background-color: #ccc;
      }
      h2{
        margin-left: 20px;
      }
      p{
        margin-left: 20px;
        &:nth-of-type(2){
          margin-top: 35px;
        }
        &:nth-of-type(3){
          margin-top: 35px;
        }
      }
    }
    .image{
      width: calc(50% - 20px);
      margin-left: 20px;
      background-image: url(../../assets/images/index/pic17.jpg);
      background-size: cover;
      background-position: center;
    }
  }
}