.activities {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  outline: 1px solid black;
}
.activities header {
  text-align: center;
}
.activities header hr {
  display: inline-block;
  width: 80px;
  height: 6px;
  border: 0;
  background-color: #ccc;
  margin: 0;
}
.activities section {
  outline: 1px solid red;
}
.activities section .imageWrap .imageBox {
  width: 200%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.activities section .imageWrap .imageBox .image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  background-color: #ccc;
  width: calc(16.6666666667% - 20px);
  line-height: 480px;
}