.Welcome {
  padding: 0;
}
.Welcome header {
  display: flex;
  height: 830px;
  justify-content: space-around;
  margin: 0 auto;
}
.Welcome header .textbox {
  text-align: left;
  width: calc(50% - 20px);
  margin-top: 120px;
}
.Welcome header .textbox hr {
  display: inline-block;
  width: 80px;
  height: 6px;
  border: 0;
  background-color: #ccc;
  margin: 0;
}
.Welcome header .textbox p:nth-of-type(2) {
  margin-top: 35px;
}
.Welcome header .textbox p:nth-of-type(3) {
  margin-top: 35px;
}
.Welcome header .image {
  width: calc(50% - 20px);
  background-image: url(../../assets/images/index/pic17.jpg);
  background-size: cover;
  background-position: center;
}